#carouselExampleControls img{
    max-height: 1000px;
}

  @media screen and (max-width: 4000px) {
    body{
        background-color: rgba(208, 105, 153, 0.382);
        
    }
    #carouselExampleControls img{
        height: 150px;
        max-width: 150px;
        border-radius: 120%;
        border: 7px solid rgba(149, 10, 130, 0.259);
    }
    .card-body {
        background-color: rgba(125, 22, 94, 0.029);
        color: #0903036e;
        
    }
    .card{
        background-color: rgba(171, 64, 64, 0.263);
        
    }
  }
